.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

.travelBackButton{
    padding-top:5vh;
    text-decoration: none;
    color: cyan;
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.travelBackButton:hover{
	color: rgb(0, 255, 157);
}

* {background-color: rgb(71, 71, 71)}

.title{
    color: cyan;
}

.status{
    color: cyan;
}

.restartButton{
    color:cyan;
}

.restartButton:hover{
    color:rgb(0, 255, 157);
}